<div class="strength-section-wrapper">
  <div
    class="strength-section"
    [ngClass]="{
      gray: strength === 'empty',
      red: strength === 'lessEightChars' || strength === 'easy',
      yellow: strength === 'medium',
      green: strength === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    [ngClass]="{
      gray: strength === 'empty',
      red: strength === 'lessEightChars',
      yellow: strength === 'medium',
      green: strength === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    [ngClass]="{
      gray: strength !== 'strong',
      red: strength === 'lessEightChars',
      green: strength === 'strong'
    }"
  ></div>
</div>
