<input
  type="password"
  placeholder="Enter Password"
  [formControl]="passwordControl"
/>
<div class="strength-section-wrapper">
  <div
    class="strength-section"
    [ngClass]="{
      gray: getPasswordStrength() === 'empty',
      red: getPasswordStrength() === 'lessEightChars' || getPasswordStrength() === 'easy',
      yellow: getPasswordStrength() === 'medium',
      green: getPasswordStrength() === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    [ngClass]="{
      gray: getPasswordStrength() === 'empty',
      red: getPasswordStrength() === 'lessEightChars',
      yellow: getPasswordStrength() === 'medium',
      green: getPasswordStrength() === 'strong'
    }"
  ></div>
  <div
    class="strength-section"
    [ngClass]="{
      gray: getPasswordStrength() !== 'strong',
      red: getPasswordStrength() === 'lessEightChars',
      green: getPasswordStrength() === 'strong'
    }"
  ></div>
</div>
