input {
  margin-bottom: 10px;
  padding: 5px;
  width: 17%;
}
.strength-section-wrapper {
  display: flex;
}
.strength-section {
  height: 5px;
  width: 100px;
  margin: 5px;
  background-color: gray;
  border: 1px solid black;
}
.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
